*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)) , url("image1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

nav{
    width: 100%;
    height: 8vh;
    background: rgba(0,0,0,0.2);
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

nav .logo{
    width: 31%; 
    text-align: center;
    image-rendering: left;
    align-items: center;
    display: flex; 
}

nav .menu{
    width: 25%; 
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
}

section h3{
    font-size: xx-large;
    font-weight: 250px;
    word-spacing: 3px;
}

section h1{
    margin: 30px 0 20px 0;
    font-size: 25px;
    font-weight: 200px;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}

section p{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
    color: white;
}

.change_content:after {
    content: "";
    animation: changetext 10s infinite linear;
    color: #00b894;
}

@keyframes changetext {
    5% {
        content: "Lakashdweep";
    }
    10% {
        content: "Punjab";
    }
    15% {
        content: "Rajasthan";
    }
    20% {
        content: "kerala";
    }
    25% {
        content: "Goa";
    }
    30% {
        content: "Himachal Pradesh";
    }
    35% {
        content: "Jammu & Kashmir";
    }
    40% {
        content: "Gujarat";
    }
    45% {
        content: "uttar pradesh";
    }
    50% {
        content: "Karnataka";
    }
    55% {
        content: "West Bengal";
    }
    60% {
        content: "Jammu & Kashmir";
    }
    65% {
        content: "Tamil Nadu";
    }
    70% {
        content: "Uttrakhand";
    }
    75% {
        content: "Andaman Nicobar Island";
    }
    80% {
        content: "Madhya Pradesh";
    }
    85% {
        content: "Andaman Nicobar Island";
    }
    90% {
        content: "Delhi NCR";
    }
    95% {
        content: "Pondicherry";
    }
    100% {
        content: "Sikkim";
    }
}

.About{
    width: 25px; ;
    /* text-align:justify; */
    font-weight: medium;
    font-size: medium;
    display:contents;
}

.About h2{
    text-align: center;
    font-size: large;
}

.About p{
    color:black;
    width: 100%;
    margin: 0;
    padding: 5px;
    font-size: large;
    justify-content: space-around;
    display: flex;
    background-color: antiquewhite;
}